*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.1);
  font-family: 'PT Serif', serif;
} 

button {
  font: inherit;
}

:root {
  --background: #FFFFFF;
  --accent: #0056FB;
  --misc: #999999;
  --text: #444444;
  --title: #111111;
}

main,
section,
article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  width: clamp(300px, 70%, 1000px);
  gap: 40px;
  margin: 10px;
}

#title {
  text-transform: capitalize;
  font-size: 2rem;
  font-family: 'Playfair Display', serif;
  color: var(--title);
}

section .line {
  width: 120px;
  height: 3px;
  background-color: var(--accent);
  margin-top: 5px;
  border-radius: 10px;
}

.photo {
  position: relative;
}

.photo > img {
  border-radius: 100%;
  height: 200px;
  position: relative;
  z-index: 1;
}

.image-background {
  position: absolute;
  bottom: 3px;
  left: 7px;
  background-color: var(--accent);
  height: 200px;
  width: 200px;
  border-radius: 100%;
}

article {
  padding: 25px 15px;
  color: var(--text);
  border-radius: 10px;
  background-color: var(--background);
  text-align: center;
  gap: 5px;
}

#employee-name {
  color: var(--title);
  margin-top: 25px;
}

#employee-position {
  text-transform: uppercase;
  color: var(--text);
  font-size: 1.4rem;
}

#employee-info {
  color: var(--text);
  margin: 20px;
}

.page-controls {
  display: flex;
  gap: 10px;
  align-items: center;
}

.page-controls > * {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.page-controls > *:active {
  transform: scale(0.9);
}

.page-controls > img {
  height: 30px;
  width: 30px;
}

.page-controls > img:nth-child(1) {
  order: 1;
}

.page-controls > img:nth-child(2) {
  order: 3;
}

.page-controls > button {
  order: 2;
  background-color: var(--accent);
  color: var(--background);
  border: 1px solid var(--misc);
  border-radius: 10px;
  padding: 5px 15px;
}